.home4{
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
}
.innerbox{
    width: 100%;
    height: 100vh;
    border: 2px solid;
    border-radius: 53px;
    border-color: #F0F0F0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.numbers{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}
.explorebtn button{
    width: 259px;
    height: 65px;
    border-radius: 86px;
    background-color: #212121;
    color: #FFFFFF;
    border: none;
}
button:hover{
    background: linear-gradient(89.5deg, rgb(28, 133, 243) 20%,rgb(2, 67, 135) 80% );
}