.mynav{
    width: 95%;
    height: 12vh;
    /* transform: translate(0,-300%); */
    border-radius: 61px;
    border: 1px 0px 0px 0px;
    border: 1px solid #211F1F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    color: #FFFFFF;
    opacity: 1px;
    background-color: #121316;
    z-index: 2;

}
.logo{
    width: 10%;
    height: 15vh;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color :#FFFFFF;
    width: 175px;
    height: 56px;
    gap: 10px;
}
.logo p{
    font-family: "Plus Jakarta Sans";
    font-size: 5vh;
    font-weight: 500;
    color: #FFFFFF;
}

.menu{
    font-family: "Plus Jakarta Sans";
    color: #FFFFFF;
    font-size: 3vh;
    font-weight: 500;
    width:40% ;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
#idd1:hover{
    background: linear-gradient(180deg, #0099FF 8.6%, #188EDD 51.84%, #0561E2 103.03%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#idd2:hover{
    background: linear-gradient(180deg, #0099FF 8.6%, #188EDD 51.84%, #0561E2 103.03%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#idd3:hover{
    background: linear-gradient(180deg, #0099FF 8.6%, #188EDD 51.84%, #0561E2 103.03%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}